/* fonts 

 font-family: 'Josefin Sans', sans-serif;
 font-family: 'Lato', sans-serif;

*/


/* global */
*{
  box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1140px;
    margin: 0 auto;

  }

h1{
  font-family: 'Josefin Sans', sans-serif;
}

p{
  font-family: 'Lato', sans-serif;
}


  /* main-1-start  */

.sec-1{
  background: #161616;
  border-radius: 30px;
  padding: 0 106px;
  margin-top: 50px;
  margin-bottom: 130px;
}
.second-section{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-repeat: no-repeat;
    background-position: right;

  }
.haf-width{
    width: 50%;
  }
  
  
.title{
  font-weight: 700;
  font-size: 70px;
  color:#FFFFFF;
  }
  .article{
    font-weight: 400;
    font-size: 16px;
    color:#FFFFFF;

  }
  
  
.button-1{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #f8f8ff;
    font-weight: 700;
    padding: 15px 25px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #f8f8ff;
    background-color: #DD0000;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: 0.3s ease-in-out;
    
  }
  
.button-1:hover {
    background-color: #f8f8ff;
    color: #DD0000;
    font-weight: 700;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
.live{
  color: red;
}
.second-column{
    padding-left: 100px;
  
  }
  
.second-column img{
  width: 581px;
  height: 613px;
  }
  /* main-1-end  */

  /* blog-area-start */
.sec-2{
  width: 312px;
  height: 312px;
  padding: 30px;
  background: #161616;
  border-radius: 10px;
  display: grid;
  align-items: center;
  margin-right: 30px;
}
.button-2 a , .button-3 a {
  text-decoration: none;
  color: black;
}
.button-2 , .button-3{
  text-align: center;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 17px 39px;
  font-weight: 500;
  font-size: 20px;
  color: #161616;
  font-family: 'Josefin Sans', sans-serif;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: s ease-in-out;

} 
.button-2:hover , .button-3:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.button-4{
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 700;
  padding: 15px 25px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  outline: none;
  background-color: #DD0000;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: 0.3s ease-in-out;
  
}

.button-4:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

}




.blog-text > p{
  font-weight: 600;
  font-size: 18px;
  color: #161616;
}
.blog-btn{
  border: 1px solid #1616166e;
  border-radius: 5px;
  padding: 4px  16px 4px 16px;
  text-decoration: none;
  color: #161616;

}

.blog-text-flex{
  padding-left: 20px;
}

.icon{
  display: flex;
  align-items: center;

}
.icon p{
  color: #161616b4;
}
.icon img{
  width: 24px;
  height: 24px;
  padding-right: 10px;
}

.icon-flex{
  display: flex;
  gap: 30px;
 

}

.blog{
  width: 312px;
  border-radius: 10px;
  height: 362px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
 }

.blog-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 30px;
  
}
.blog-flex{
  display: flex;
}


  /* blog-area-end */

/* footer-area-start */

footer {
  text-align: center;
  background: #000000e3;
  padding: 50px 0;
}

footer h2 {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

footer span {
  font-size: 14px;
  font-weight: 500;
  color: #D9DBE1;
  margin-top: 10px;
  
}
.row{
  display: flex;
  flex-direction: column;
  align-items: center;

}

footer ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 9px;
  padding: 0;


 
  margin-top: 20px;
}

footer a {
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  display: block;

}


footer a:hover {
  background: #ff0000;
  color: #fff;
}


/* footer-area-end */

